<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog <%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Blogs ALL POSTS</h1>
    <h3>Welcome</h3>
    <h2><%= number %></h2>
    <a href="/about">About</a>
    <a href="/fre">Find</a>

    <hr/><br/>
    <% if(blogs.length > 0){ %>
    <% blogs.forEach(blog => { %>
        <a class="single" href="/blogs/<%= blog._id %>">
            <h3><%= blog.title %> </h3>
            <h2><%= blog.snippet %> </h2>
            <p><%= blog.body %> </p>
        </a>
        <hr/>
    <%})%>
    <% } else { %>
        <p>There are no blogs to display</p>
    <% } %>
    
</body>
</html>